<div class="cherry-projects-single__container">
	<div class="cherry-projects-single__header">
		%%FEATUREDIMAGE size="voodioo-thumb-xl"%%
		<div class="cherry-projects-single__title">
			%%TERMSLIST type="projects_category"%%
			%%TITLE%%
			<div class="cherry-projects-single-meta entry-meta">
				%%AUTHOR%%
				%%DATE%%
				%%COMMENTS prefix=""%%
			</div>
		</div>
	</div>
	<div class="container">
		<div class="cherry-projects-single__content-wrapper">
		%%VIDEOLIST width="886" height="668"%%
			<div class="cherry-projects-single__content">
				%%CONTENT%%
				%%DETAILSLIST%%
				%%SKILLSLIST%%
				<div class="cherry-projects-single__footer">
					%%TERMSLIST type="projects_tag"%%
					%%SHAREBUTTONS%%
				</div>
			</div>
		</div>
	</div>
</div>