.widget {
	&:not(:last-child) {
		margin-bottom: 60px;
	}

	@include sidebars-area() {
		@include font-size(.875);
		line-height: 1.7;

		&:not(:last-child) {
			margin-bottom: 45px;
		}
	}

	.footer-area:not(.footer-area--fullwidth) & {
		margin-bottom: 45px;
	}

	&-title {
		margin-bottom: 1.6em;
	}

	& + .widget {
		padding-top: 60px;
		border-top: 1px solid $color__background-hr;

		@include sidebars-area() {
			padding-top: 45px;
		}

		.footer-area:not(.footer-area--fullwidth) & {
			padding-top: 0;
			border-top: none;
		}
	}

	select {
		max-width: 100%;
	}

	.full-width-header-area &,
	.after-content-full-width-area & {
		&,
		& .subscribe-follow__wrap {
			padding-left: $grid-gutter-width/2;
			padding-right: $grid-gutter-width/2;
		}

		&.widget-carousel,
		&.widget-smart-slider,
		&.widget-fpblock,
		&.widget-playlist-slider,
		&.widget-subscribe {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.sidebar {
	margin-top: 70px;
	@include media-breakpoint-up(md) {
		margin-top: 0;
	}
}

.footer-area {
	padding: 80px 0 25px;
	@include media-breakpoint-up(md) {
		padding: 130px 0 85px;
	}
}

.full-width-header-area {
	.widget:first-child {
		.widget-title {
			margin-top: 1.5em;
		}
	}
}

.before-loop-area,
.before-content-area,
.after-content-full-width-area {
	margin-bottom: 70px;
}

.after-loop-area,
.after-content-area {
	margin-top: 70px;
}
